<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to HH Bakery!</h2>
        {% if 'username' in session %}
            <p>Hello, {{ session['username'] }}!</p>
            <p><a href="/logout" class="button">Logout</a></p>
        {% else %}
            <p>Please <a href="/login" class="button">login</a> or <a href="/register" class="button">register</a> to access the content.</p>
        {% endif %}
    </div>
</body>
</html>
